@using Web.Areas.Admin.ViewModels.FaqCategory
@model FaqCategoryIndexVM

<a class="btn btn-primary" asp-action="create" asp-controller="faqcategory">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">CreateAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var faqCategory in Model.FaqCategories)
        {
            <tr>
                <td>@faqCategory.Id</td>
                <td>@faqCategory.Title</td>
                <td>@Html.Raw(faqCategory.Description)</td>
                <td>@faqCategory.CreatedAt.ToShortDateString()</td>
                <td>@faqCategory.ModifiedAt.ToShortDateString()</td>

                <td>
                    <a class="btn btn-primary" asp-action="update" asp-controller="faqcategory" asp-route-id="@faqCategory.Id">Update</a>
                    <form method="post" asp-action="delete" asp-controller="faqcategory" asp-route-id="@faqCategory.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
