@using Web.ViewModels.Doctor
@model DoctorIndexVM

<main>

    <!-- main-frame section starts -->
    <section class="main-frame-2 no-select" style="background-image: url(assets/images/doctor-page-title.jpg);">
        <div class="container">
            <div class="row main-frame-2-title align-items-center">
                <div class="col-md-6 main-frame-2-title-text">Find A Doctor</div>
                <div class="col-md-6 text-md-right main-frame-2-title-breadcrumb">Home / Find A Doctor</div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- main-frame section ends -->
    <!-- find-doctor section starts -->
    <section class="find-doctor no-select">
        <div class="section-left-color"></div>
        <div class="section-right-color"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4 find-doctor-left">
                    <div class="search-doctor">
                        <p class="search-doctor-title">
                            Find the Doctor
                        </p>
                        <span class="line"></span>
                        <div class="search-doctor-content">
                            <div class="search-doctor-content-wrapper">

                                <form method="get" asp-action="index" asp-controller="doctor">
                                    <label asp-for="FullName">Doctor Name</label>
                                    <input asp-for="FullName" type="search" placeholder="Enter doctor name" class="search-doctor-input">
                                    <div class="button search-button text-center">Search Now</div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-8 find-doctor-right">
                    <p class="associated-doctor-title">
                        Associated Doctors in Syring.
                    </p>
                    <p class="associated-description">
                        Expert physician specialists and caring clinical staff provide you with an exceptional
                        patient care is what sets Syring Medical Center apaert health care experience.
                    </p>
                    <div class="doctor-items">

                        @foreach (var doctor in Model.Doctors)
                        {
                            <div class="doctor-item">
                                <div class="doctor-item-wrapper d-flex">
                                    <div class="doctor-img">
                                        <img src="~/assets/img/@doctor.MainPhoto" alt="">
                                    </div>
                                    <div class="doctor-info">
                                        <div class="doctor-name">@doctor.FullName</div>
                                        @*   <div class="doctor-subtitle">
                                    Hospital doctors examine patients so that they can diagnose and treat health
                                    conditions and diseases.
                                    </div>*@
                                        <div class="doctor-skill">
                                            @Html.Raw(doctor.Qualification)
                                        </div>
                                        <div class="view-appointment d-flex">
                                            <div class="view">
                                                <a asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id">View Profile</a>
                                                <span class="line"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <ul class="pagination">
                            <li class="page-item">
                                @if (Model.Page > 1)
                                {
                                    <div>
                                        @{
                                            var prevPage = @Model.Page - 1;

                                            <a itemprop="url" asp-action="index" asp-controller="doctor" asp-route-page="@prevPage" class="page-link" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        }
                                    </div>
                                }
                            </li>
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="@(Model.Page==i ? "active disabled" : "inactive")"><a asp-action="index" class="page-link " asp-controller="doctor" asp-route-page="@i">@i</a></li>
                            }
                            <li class="page-item">
                                @if (Model.PageCount != Model.Page)
                                {
                                    <div>
                                        @{
                                            var nextPage = @Model.Page + 1;
                                            <a itemprop="url" asp-action="index" asp-controller="doctor" asp-route-page="@nextPage" class="page-link" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        }
                                    </div>
                                }
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- find-doctor section ends -->

</main>
