@using Web.Areas.Admin.ViewModels.Price
@model PriceIndexVM

<a class="btn btn-primary" asp-action="create" asp-controller="price">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Cost</th>
            <th scope="col">Feature</th>
            <th scope="col">Description</th>
            <th scope="col">CreateAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var price in Model.Prices)
        {
            <tr>
                <td>@price.Id</td>
                <td>@price.Title</td>
                <td>@price.Cost</td>
                <td>@price.Feature</td>
                <td>@Html.Raw(price.Description)</td>
                <td>@price.CreatedAt.ToShortDateString()</td>
                <td>@price.ModifiedAt.ToShortDateString()</td>

                <td>
                    <a class="btn btn-primary" asp-action="update" asp-controller="price" asp-route-id="@price.Id">Update</a>
                    <form method="post" asp-action="delete" asp-controller="price" asp-route-id="@price.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>